* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding-right: ;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #bdbdbd;
  margin: 0px;
  padding: 0px;
}

#titulo {
  background-color: green;
  
  font-size: 200%;
  margin: 0px auto;
  color: black;
  text-align: center;
}

#menu {
  width: 100%;
  background: #338833;
  height: 50px;
}

#pesquisa {
  margin-left: 2vw;
  margin-top: 2vh;
  border:none;
  border-radius: 5px;
  z-index: 0;
  height:3vh;
  padding-left:1vw;
}

#servicos {
  
}

#barra {
  list-style-type: none;
}

a {
  text-decoration:none;
  color: white;
}

#info {
  margin-left: 5%;
  margin-top: 10%;
  background-color: white;
  text-align: center;
}

#mostrar {
  margin-top: 3%;
  margin-left: 5%;
  background-color: white;
  padding: 3px;
  border-radius: 1px;
}

#nomeplanta {
 
 text-align: center;
  margin: 5px;
}



.card{
  margin: 5px 5px 5px 5px;
}